aiogram==2.11.2
aiohttp==3.7.3
antiorm==1.2.1
async-timeout==3.0.1
asyncpg==0.21.0
attrs==19.3.0
Babel==2.8.0
beautifulsoup4==4.9.1
certifi==2020.12.5
chardet==3.0.4
db==0.1.1
db-sqlite3==0.0.1
idna==2.9
multidict==4.7.6
PyPDF2==1.26.0
pyTelegramBotAPI==3.7.1
pytz==2020.1
requests==2.23.0
six==1.15.0
soupsieve==2.0.1
tika==1.24
typing-extensions==3.7.4.3
urllib3==1.25.9
vk-api==11.8.0
yarl==1.4.2
